node_modules/
dist/**/*.js
.prettierignore
.prettierrc
index.html
package.json
package-lock.json
postcss.config.js
tailwind.config.js
tsconfig.json
tsconfig.node.json
vite.config.ts
.env
src/vite-env.d.ts
src/components/*
src/lib/*
components.json